* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
    height: 100vh;
    position: relative;
    
   background: linear-gradient(135deg, #f1f1f1 0%, #0a4446 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.div1 { 
    width: 350px;
    height: 450px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2 {
    color:white;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2em;

}
.form-group {
    position: relative;
    width: 330px;
    border-bottom: 3px solid white;
    margin: 30px 0;

}

#input1:focus ~ #label1,
#input1:valid ~ #label1 {
    top: -5px;
    font-size: 13px;
}

#input1 {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1.2em;
    padding: 0 30px 0 10px;
    color: white;
}
#label1 {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: white;
    transition: 0.3s;
    
}
.form-group i {
    position: absolute;
    top: 50%;
    right: 20px;
    color: white;
    transform: translateY(-50%);
    font-size: 1.2em;

}

p
{
    text-align: center;
    color: white;
    padding: 10px 0;

}
p>a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
p>a:hover {
    text-decoration: underline;
    font-style: italic;
}
#btn {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    color: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5ms;
    

}
#btn:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}





